@model QAccess.Models.Unit

@{
    ViewData["Title"] = "Unidades";
}

<div>
    <div class="row">
        <h3 style="font-weight: 500;">Unidades</h3>
    </div>
    <nav class="nav-breadcrumb d-flex justify-content-between align-items-center" aria-label="breadcrumb">
        <ol class="breadcrumb mx-0 my-0">
            <li class="breadcrumb-item"><a asp-controller="Units" asp-action="Index">Unidades</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.UnitId</li>
        </ol>
    </nav>

    <div class=" my-3 d-flex flex-row-reverse buttons-group-actions">
        <a class="btn btn-danger ms-2 d-flex align-items-center" asp-action="Delete" asp-controller="Units" asp-route-id="@Model.UnitId"><img width="17px" src="~/images/trash.svg" alt="">Excluir</a>
        <a class="btn btn-edit ms-2 d-flex align-items-center" asp-action="Edit" asp-controller="Units" asp-route-id="@Model.UnitId" ><img width="20px" src="~/images/pencil-square.svg" alt="">Editar</a>
    </div>
                
    <div class="row my-4">
        <div class="form-group-contour p-3">
            <span class="form-group-title">Dados da Unidade</span>
            <fieldset disabled>
                <div class="row">
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="inputUnitId" class="form-label">@Html.DisplayNameFor(Model => Model.UnitId):</label>
                            <input asp-for="UnitId" type="text" class="form-control" id="inputUnitId">
                        </div>
                        <div class="col-lg-4">
                            <label for="inputBlock" class="form-label">@Html.DisplayNameFor(Model => Model.Block):</label>
                            <input asp-for="Block" type="text" class="form-control" id="inputBlock">
                        </div>
                        <div class="col-lg-4">
                            <label for="inputTower" class="form-label">@Html.DisplayNameFor(Model => Model.Tower):</label>
                            <input asp-for="Tower" type="text" class="form-control" id="inputTower">
                        </div>
                        
                    </div>

                    <div class="row my-4">
                       <div class="col-lg-4">
                            <label for="inputNumber" class="form-label">@Html.DisplayNameFor(Model => Model.Number):</label>
                            <input asp-for="Number" type="text" class="form-control" id="inputNumber">
                        </div>
                        <div class="col-lg-4">
                            <label for="inputState" class="form-label">@Html.DisplayNameFor(Model => Model.State):</label>
                            <input asp-for="State" type="text" class="form-control" id="inputState">
                        </div>
                        <div class="col-lg-4">
                            <label for="inputCity" class="form-label">@Html.DisplayNameFor(Model => Model.City):</label>
                            <input asp-for="City" type="text" class="form-control" id="inputCity">
                        </div>
                    </div>

                    <div class="row">
                        <label for="inputComplement" class="form-label">@Html.DisplayNameFor(Model => Model.Complement):</label>
                        <textarea asp-for="Complement" style="max-height: 100px;" class="form-control" placeholder="@Model.Complement" id="inputComplement"></textarea>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

