@model QAccess.Models.Occurrence

@{
    ViewData["Title"] = "Ocorrência";
}


<div class="row ">
    <h3>Ocorrências</h3>
</div>

<nav class="rounded-3 nav-breadcrumb d-flex justify-content-between align-items-center" aria-label="breadcrumb">
    <ol class="breadcrumb mx-0 my-0">
        <li class="breadcrumb-item"><a asp-action="Index">Ocorrências</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.OccurrenceId</li>
    </ol>
</nav>

<div class="row my-3">
    <div class="d-flex justify-content-between">
        <div class="ms-2 buttons_status">
            @if(@Model.Status == Occurrence.StatusOccurrence.Open){
                <span class="disabled btn btn-outline-primary">@Html.DisplayFor(model => model.Status)</span>
            }
            else if(@Model.Status == Occurrence.StatusOccurrence.InProgress){
                <span class="disabled btn btn-outline-primary button_inprogress">@Html.DisplayFor(model => model.Status)</span>
            }
            else if(@Model.Status == Occurrence.StatusOccurrence.Closed){
                <span class="disabled btn btn-outline-success">@Html.DisplayFor(model => model.Status)</span>            
            }
        </div>

        <div class="d-flex flex-row-reverse buttons-group-actions">
            <button data-bs-toggle="modal" data-bs-target="#defaultModalAction" type="button" class="btn btn-success ms-2 d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/><path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/><path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/></svg>
                Salvar
            </button>
            <a asp-action="Index" class="btn btn-danger btn-secondary ms-2 d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-slash-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708z"/></svg>
                Cancelar
            </a>
        </div>
    </div>
</div>

<form asp-action="Edit">
    
    <input type="hidden" asp-for="OccurrenceId" />
    <input type="hidden" asp-for="CreationDate"  />
    <input type="hidden" asp-for="Locale" />
    <input type="hidden" asp-for="Status" />
    <input type="hidden" asp-for="CondominiumId" />

    <div class="row my-">
        <div class="form-group-contour rounded-3 p-3">
            <span class="form-group-title">Dados da Ocorrência</span>
            <div class="scrollarea details initial_margin_negative">
                <div class="d-flex justify-content-between pe-4">
                    <div class="col-lg-8 col-sm-12 me-4">
                        <label  class="control-label">Autor</label>
                        <input asp-for="Responsable.Name" disabled class="form-control" />
                    </div>
                    <div class="col-lg-4 d-sm-none d-lg-inline">
                        <label class="control-label">Id Autor</label>
                        <input asp-for="Responsable.CondominiumId" disabled class="form-control" />
                    </div>
                </div>
                <div class="mt-3 d-flex justify-content-between pe-4">
                    <div class="col-lg-8 col-sm-12 me-4">
                        <span>
                            <svg width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_79_11265)"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.2504 0.122479C11.1684 0.0404602 11.0571 -0.00561523 10.9411 -0.00561523C10.8251 -0.00561523 10.7139 0.0404602 10.6318 0.122479L9.19069 1.5636L12.4343 4.80723L13.8754 3.36698C13.9162 3.32634 13.9485 3.27806 13.9706 3.22491C13.9926 3.17176 14.004 3.11478 14.004 3.05723C14.004 2.99968 13.9926 2.9427 13.9706 2.88955C13.9485 2.8364 13.9162 2.78812 13.8754 2.74748L11.2504 0.122479ZM11.8157 5.42585L8.57206 2.18223L2.88456 7.86973H3.06569C3.18172 7.86973 3.293 7.91582 3.37505 7.99787C3.45709 8.07992 3.50319 8.1912 3.50319 8.30723V8.74473H3.94069C4.05672 8.74473 4.168 8.79082 4.25005 8.87287C4.33209 8.95492 4.37819 9.0662 4.37819 9.18223V9.61973H4.81569C4.93172 9.61973 5.043 9.66582 5.12505 9.74787C5.20709 9.82992 5.25319 9.9412 5.25319 10.0572V10.4947H5.69069C5.80672 10.4947 5.918 10.5408 6.00005 10.6229C6.08209 10.7049 6.12819 10.8162 6.12819 10.9322V11.1134L11.8157 5.42585ZM5.28119 11.9604C5.26278 11.9114 5.25329 11.8595 5.25319 11.8072V11.3697H4.81569C4.69966 11.3697 4.58838 11.3236 4.50633 11.2416C4.42428 11.1595 4.37819 11.0483 4.37819 10.9322V10.4947H3.94069C3.82465 10.4947 3.71338 10.4486 3.63133 10.3666C3.54928 10.2845 3.50319 10.1733 3.50319 10.0572V9.61973H3.06569C2.94966 9.61973 2.83838 9.57364 2.75633 9.49159C2.67428 9.40954 2.62819 9.29826 2.62819 9.18223V8.74473H2.19069C2.13838 8.74464 2.08651 8.73516 2.03756 8.71673L1.88094 8.87248C1.83924 8.91446 1.8065 8.96447 1.78469 9.01948L0.0346873 13.3945C0.00286291 13.474 -0.00492765 13.5611 0.0122814 13.645C0.0294904 13.7289 0.0709422 13.8059 0.131498 13.8664C0.192054 13.927 0.26905 13.9684 0.352942 13.9856C0.436834 14.0028 0.523931 13.9951 0.603437 13.9632L4.97844 12.2132C5.03344 12.1914 5.08345 12.1587 5.12544 12.117L5.28119 11.9612V11.9604Z" fill="#653208"/></g><defs><clipPath id="clip0_79_11265"><rect width="14" height="14" fill="white"/></clipPath></defs></svg>
                        </span>
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                    </div>
                    <div class="col-lg-4 d-sm-none d-lg-inline">
                        <label class="control-label">Id Ocorrêcia</label>
                        <input asp-for="OccurrenceId" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group mt-2">
                    <span>
                            <svg width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_79_11265)"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.2504 0.122479C11.1684 0.0404602 11.0571 -0.00561523 10.9411 -0.00561523C10.8251 -0.00561523 10.7139 0.0404602 10.6318 0.122479L9.19069 1.5636L12.4343 4.80723L13.8754 3.36698C13.9162 3.32634 13.9485 3.27806 13.9706 3.22491C13.9926 3.17176 14.004 3.11478 14.004 3.05723C14.004 2.99968 13.9926 2.9427 13.9706 2.88955C13.9485 2.8364 13.9162 2.78812 13.8754 2.74748L11.2504 0.122479ZM11.8157 5.42585L8.57206 2.18223L2.88456 7.86973H3.06569C3.18172 7.86973 3.293 7.91582 3.37505 7.99787C3.45709 8.07992 3.50319 8.1912 3.50319 8.30723V8.74473H3.94069C4.05672 8.74473 4.168 8.79082 4.25005 8.87287C4.33209 8.95492 4.37819 9.0662 4.37819 9.18223V9.61973H4.81569C4.93172 9.61973 5.043 9.66582 5.12505 9.74787C5.20709 9.82992 5.25319 9.9412 5.25319 10.0572V10.4947H5.69069C5.80672 10.4947 5.918 10.5408 6.00005 10.6229C6.08209 10.7049 6.12819 10.8162 6.12819 10.9322V11.1134L11.8157 5.42585ZM5.28119 11.9604C5.26278 11.9114 5.25329 11.8595 5.25319 11.8072V11.3697H4.81569C4.69966 11.3697 4.58838 11.3236 4.50633 11.2416C4.42428 11.1595 4.37819 11.0483 4.37819 10.9322V10.4947H3.94069C3.82465 10.4947 3.71338 10.4486 3.63133 10.3666C3.54928 10.2845 3.50319 10.1733 3.50319 10.0572V9.61973H3.06569C2.94966 9.61973 2.83838 9.57364 2.75633 9.49159C2.67428 9.40954 2.62819 9.29826 2.62819 9.18223V8.74473H2.19069C2.13838 8.74464 2.08651 8.73516 2.03756 8.71673L1.88094 8.87248C1.83924 8.91446 1.8065 8.96447 1.78469 9.01948L0.0346873 13.3945C0.00286291 13.474 -0.00492765 13.5611 0.0122814 13.645C0.0294904 13.7289 0.0709422 13.8059 0.131498 13.8664C0.192054 13.927 0.26905 13.9684 0.352942 13.9856C0.436834 14.0028 0.523931 13.9951 0.603437 13.9632L4.97844 12.2132C5.03344 12.1914 5.08345 12.1587 5.12544 12.117L5.28119 11.9612V11.9604Z" fill="#653208"/></g><defs><clipPath id="clip0_79_11265"><rect width="14" height="14" fill="white"/></clipPath></defs></svg>
                        </span>
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" rows="2" class="form-control"></textarea>

                </div>
                <div class="form-group my-2">
                    <label asp-for="PhotoBase64"  class="control-label label_photos"></label>
                    <input type="file" class="form-control" id="photo_path" multiple>
                </div>
                <input asp-for="PhotoBase64" id="photo" type="hidden" />
                <div id="gallery">
                    
                </div>
            </div>
        </div>
    </div>

    @{
        Html.RenderPartial("_ModalImage");
    }

    @{
        Html.RenderPartial("_ModalEditAlert");
    }

</form>


@section Scripts {
    <script>
        $(document).ready(function () {
            @* Codigo para pegar imagem do banco em Base64 e exibir. *@
            var phto_old = $('#photo').val();
            $('#gallery').append('<img src="' + phto_old + '" class="img-thumbnail image_detail_occurrence" data-bs-whatever="' + phto_old + '" data-bs-target="#image_modal" data-bs-toggle="modal" alt="" />');
            @* Modal para exibir a imagem *@
            $('#image_modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var recipient = button.data('bs-whatever');
                var modal = $(this);
                modal.find('.modal-body img').attr('src', recipient);
            });
            @* Codigo para converter imagem para Base64. *@
            $('#photo_path').on('change', function () {
                $('#gallery').empty();
                @* console.log(this.files); *@
                for (var i = 0; i < this.files.length; i++) {
                    let file = this.files[i];
                    let reader = new FileReader();
                    reader.onloadend = function () {
                    $('#photo').val('')
                    $('#photo').val(reader.result);
                    $('#gallery').append('<img src="' + reader.result + '" class="img-thumbnail image_detail_occurrence" data-bs-whatever="' + reader.result + '" data-bs-target="#image_modal" data-bs-toggle="modal" alt="" />');
                    }
                    if (file) {
                    reader.readAsDataURL(file);
                    }
                }
            });
        });
    </script>
}
